<span [ngSwitch]="page">
  <span *ngSwitchCase="'home'" class="container">
    <span [ngSwitch]="category">
      <span *ngSwitchCase="'case'" class="container">
        <app-phonecase-card *ngFor="let item of items;" [item]="item" appOnHover></app-phonecase-card>
      </span>
      <span *ngSwitchCase="'powerbank'" class="container">
        <app-powerbank-card></app-powerbank-card>
      </span>
      <span *ngSwitchCase="'mug'" class="container">
        <app-others-card></app-others-card>
      </span>
      <span *ngSwitchDefault class="container">
        <app-home></app-home>
      </span>
    </span>
  </span>

  <span *ngSwitchCase="'account'" class="container">
    <app-account></app-account>
  </span>

  <span *ngSwitchCase="'registration'" class="container">
    <app-registration></app-registration>
  </span>



  <span *ngSwitchDefault class="container">
    <app-login></app-login>
  </span>
</span>