<span [ngSwitch]="page">
  <span *ngSwitchCase="'home'" class="container">
    <span [ngSwitch]="category">
      <span *ngSwitchCase="'case'" class="container">
        <app-productlist *ngFor="let item of items;" [item]="item" appOnHover></app-productlist>
      </span>
      <span *ngSwitchCase="'powerbank'" class="container">

      </span>
      <span *ngSwitchCase="'mug'" class="container">

      </span>
      <span *ngSwitchDefault class="container">
        <app-home></app-home>
      </span>
    </span>
  </span>

  <span *ngSwitchCase="'registration'" class="container">
    <!--login -->
  </span>

  <span *ngSwitchCase="'details'" class="container">

  </span>

  <span *ngSwitchDefault class="container">
    <!-- login -->
  </span>
</span>