<mat-toolbar class="contaner-first-toolbar">
  <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button> -->
  <span [routerLink]="['/home']" routerLinkActive="router-link-active" style="cursor: pointer;">My App</span>
  <span class="example-spacer"></span>
  <mat-form-field [floatLabel]="'never'" class="example-form-field">
    <input matInput type="text" placeholder="Search" [(ngModel)]="value" class="input">
    <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
      <mat-icon>close</mat-icon>
    </button>
    <button matSuffix mat-icon-button aria-label="Search" (click)="value=''">
      <mat-icon>search</mat-icon>
    </button>

  </mat-form-field>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon"
    [routerLink]="['/store']" routerLinkActive="router-link-active">
    <mat-icon>store</mat-icon>
  </button>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon"
    [routerLink]="['/account']" routerLinkActive="router-link-active">
    <mat-icon>account_circle</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" [routerLink]="['/cart']"
    routerLinkActive="router-link-active">
    <mat-icon>shopping_cart</mat-icon>
  </button>
</mat-toolbar>